/* Original Styles */

.root-navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
}

.navbar {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1b29;
  width: 60%;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.login-button {
  background-color: rgb(236, 91, 39);
  border: 1px solid transparent; /* Define the border properties */
  color: white; /* Text color */
  padding: 5px 10px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  border-radius: 5px; /* Optional: make the edges rounded */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  width: 70px;
  margin-right: 20px;
}

.login-button:hover {
  background-color: rgb(248, 196, 106); /* Change background on hover */

  color: #1c1b29;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }
  li {
    display: none;
  }
}
@media (max-width: 390px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .navbar-links {
    flex-direction: row;
    align-items: center;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }

  .navbar-logo a {
    font-size: 1.2rem; /* Reduce logo size */
  }
  li {
    display: none;
  }
}
/* Logo Image Styling */
.navbar-logo img {
  max-height: 60px; /* Limit the height of the logo */
  width: auto; /* Maintain the aspect ratio */
  display: block; /* Ensure proper rendering */
  cursor: pointer; /* Pointer on hover */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-logo img {
    max-height: 30px; /* Reduce size for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar-logo img {
    max-height: 25px; /* Further reduce size */
  }
}
