.quiz-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
  margin: 0;
}

.quiz-container {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 20px;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-container h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.quiz-container p {
  font-size: 16px;
  margin-bottom: 12px;
  color: #555;
  font-weight: 400;
}

.quiz-container .MuiFormControl-root {
  display: block;
  margin-bottom: 20px;
}

.quiz-container .MuiFormControlLabel-root {
  margin-bottom: 10px;
}

.quiz-container .MuiRadio-root {
  color: #4caf50;
}

.quiz-container .MuiRadio-root.Mui-checked {
  color: #388e3c;
}

.quiz-container .MuiTextField-root {
  margin-bottom: 25px;
}

.quiz-container button {
  align-self: center;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.quiz-container .MuiButton-root {
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  transition: background-color 0.3s ease-in-out;
}

.quiz-container .MuiButton-root:hover {
  background-color: #388e3c;
}

.quiz-container .MuiButton-root:disabled {
  background-color: #b0bec5;
  color: #fff;
}

.quiz-container::-webkit-scrollbar {
  display: none;
}

.quiz-container .MuiTextField-root input {
  font-size: 16px;
  color: #333;
}

.quiz-container .MuiFormControlLabel-root span {
  font-weight: 400;
}
