.recipe-card-container {
  background-color: #ffa07a;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-card-container-iner {
  width: 100%;
  padding-top: 100px;
}
.recipe-card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.recipe-card-back-button {
  font-size: 16px;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.recipe-card-image-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe-card-main-image {
  width: 30%;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

.recipe-card-info {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px;
  margin-top: 50px;
  height: 100%;
}

.recipe-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.info-con-title {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info-con-title-1 {
  width: 15%;
}
.info-con-title-2 {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.info-con-title-2 > * {
  text-align: left;
}
.recipe-card-subtitle {
  font-size: 16px;
  color: gray;

  margin: 10px 0;
}

.recipe-card-description {
  font-size: 14px;
  color: #555;

  margin-bottom: 20px;
}

.recipe-card-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.recipe-card-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-stat-text {
  margin-top: 5px;
  font-size: 16px;
  color: #333;
}

.recipe-card-ingredients {
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipe-card-ingredients-scroll {
  display: flex;

  gap: 50px;
}

.recipe-card-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.recipe-card-ingredient-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.recipe-card-ingredient-name {
  font-size: 16px;
  color: #333;
}
