.exercise-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exercise-content-container {
  background-color: #fff;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise-video-section {
  width: 60%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.exercise-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.exercise-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exercise-details-overlay {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 20px;
  flex-wrap: wrap;
  margin-top: -93px;
  width: 100%;
}

.exercise-detail-item {
  display: flex;
  align-items: center;
}

.exercise-icon-container {
  background-color: #bbf246;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.exercise-text-container {
  display: flex;
  flex-direction: column;
}

.exercise-label-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.exercise-value-text {
  color: #bbf246;
  font-size: 16px;
  font-weight: bold;
}

.exercise-divider {
  width: 2px;
  height: 80%;
  background-color: #b0b0b0;
  opacity: 0.6;
  margin: 0 10px;
}

.exercise-card-background {
  padding: 16px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #f9f9f9;
  text-align: left;
}

.exercise-heading {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.exercise-description {
  font-size: 16px;
  color: #000;
  line-height: 24px;
}

.exercise-footer {
  height: 150px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1a1a2e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.exercise-start-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #bbf246;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.exercise-start-text {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
