.containerdd {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  padding-top: 150px;
}

.search-container {
  position: relative;
  width: 50%;
  margin-bottom: 20px;
}
.search-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.search-bar {
  width: 100%;
  padding: 15px 40px 15px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.search-button-add-meales {
  background-color: #25d9af;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2%;
  margin-top: 5px;
}

.meal-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 2%;
}

.meal-card {
  background: linear-gradient(145deg, #f0f0f3, #ffffff);
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.7);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 80%;
  margin-top: 20px;
}

.meal-card:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.8);
}

.meal-image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.meal-card:hover .meal-image {
  transform: scale(1.05);
}

.meal-card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  padding: 15px;
  background: linear-gradient(145deg, #e8e8e8, #ffffff);
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.6),
    inset -1px -1px 3px rgba(0, 0, 0, 0.05);
}

.modal-contentddd {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 5%;
  align-items: center;
}
.modal-class-title {
  text-align: left;
}
.modal-image-add {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.modal-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-content h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.ingredients-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 20px;
  width: 100%;
}

.search-title {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #25d9af;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 10px 0;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.ingredient-item {
  flex: 0 0 auto;
  width: 100px;
  text-align: center;
  margin-right: 15px;
}

.ingredient-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.ingredient-item p {
  font-size: 14px;
  margin-top: 5px;
}
.add-clance-class-button {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20%;
}
.add-meal-button-api {
  background-color: #25d9af;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2%;
}

.add-meal-button-api:hover {
  background-color: #009e79;
}
.outlined-Close {
  background-color: #dc7a6e;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2%;
}
.outlined-Close:hover {
  background-color: #e14b37;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}
