.field-rowFSP {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  align-content: center;
}

.field-containerSP {
  display: flex;
  flex: 1;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.field-containerSP:last-child {
  margin-left: 10px;
}

.profile-containerSP {
  width: 100%;
  padding: 20px;
  max-width: 100%;
  margin: 20px auto 0;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding-top: 150px;
}

.profile-titleSP {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #1c1b29;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.inputSP {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.input.editableSP {
  border-color: #1c1b29;
  background-color: #ffffff;
}

.input.disabledSP {
  border-color: #ddd;
  background-color: #f0f0f0;
  color: #999;
}

.toggle-buttonNSP {
  background-color: #94e075;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.toggle-buttonNSP:hover {
  background-color: #80c065;
}

.update-buttonSP {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.update-buttonSP:hover {
  background-color: #45a049;
}
