.container-ADDD {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.scroll-container-ADDD {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.header-ADDD {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.inner-header-ADDD {
  display: flex;
  gap: 20px;
}

.back-button-ADDD {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.text-header-ADDD {
  font-size: 24px;
  font-weight: bold;
}

.batch-container-ADDD {
  margin-bottom: 10px;
  display: flex;
  gap: 80px;
}

.outer-ADDD {
  margin-bottom: 10px;
}

.outer-item-ADDD {
  padding: 10px;
}

.point-img-ADDD {
  width: 90px;
  height: 90px;
}

.name-point-ADDD {
  text-align: center;
}

.name-awards-ADDD {
  font-size: 10px;
}

.point-of-ADDD {
  font-size: 12px;
  color: #818181;
  margin-top: 5px;
}

.add-award-button-ADDD {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #60db78;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  cursor: pointer;
  border: none;
}

.modal-ADDD {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.close-modal-ADDD {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
