.add-items-containerADD {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 50px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-items-containerADD:hover {
  transform: translateY(-5px);
}
.AllContainerDDD {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.titleADD {
  grid-column: span 2;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333333;
}

.labelADD {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
  margin-top: 15px;
  display: block;
}

.inputADD,
.textareaADD {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 14px;
  color: #333333;
  transition: border-color 0.3s;
}

.inputADD:focus,
.textareaADD:focus {
  border-color: #006400;
  outline: none;
}

.textareaADD {
  height: 100px;
  resize: none;
}

.image-previewADD {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
}

.add-buttonADD {
  grid-column: span 2;
  width: 100%;
  padding: 12px;
  background-color: #006400;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.add-buttonADD:hover {
  background-color: #004d00;
  transform: scale(1.02);
}

.add-buttonADD:active {
  transform: scale(0.98);
}
