.field-rowFADDD {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.field-containerADDD {
  flex: 1;
}

.field-containerADDD:last-child {
  margin-left: 10px;
}

.profile-containerCADDD {
  width: 100%;
  padding: 20px;
  padding-top: 150px;
  margin: 20px auto;
  background-color: #ffffff;
}

.profile-titleADDD {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #1c1b29;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.inputADDD {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.inputADDD.editableADDD {
  border-color: #1c1b29;
  background-color: #ffffff;
}

.inputADDD.disabledADDD {
  border-color: #ddd;
  background-color: #f0f0f0;
  color: #999;
}

.toggle-buttonNADDD {
  background-color: #94e075;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.toggle-buttonNADDD:hover {
  background-color: #80c065;
}

.update-buttonADDD {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.update-buttonADDD:hover {
  background-color: #45a049;
}
